<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="normannit.openxmlfiles"
    version="3.1.0">

    <name>OpenXmlFiles</name>
	<description>Open XML files on iOS</description>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
    <!-- ios -->
    <platform name="ios">
        <!--<config-file target="config.xml" parent="/*">
            <feature name="OpenXmlFiles">
                <param name="ios-package" value="OpenXmlFiles"/>
            </feature>
        </config-file>-->

        <config-file target="*-Info.plist" parent="CFBundleDocumentTypes">
            <array>
                <dict>
                    <key>CFBundleTypeName</key>
                    <string>XML</string>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>LSHandlerRank</key>
                    <string>Alternate</string>
                    <key>LSItemContentTypes</key>
                    <array>
                        <string>public.xml</string>
                    </array>
                </dict>
            </array>
        </config-file>
    </platform>
</plugin>
